/* edit-popup.component.css */

.popup-content.edit-popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px; /* Ajustez la largeur selon vos besoins */
}

.popup-content.edit-popup form {
  margin-top: 20px;
}

.popup-content.edit-popup label {
  font-weight: bold;
  display: block; /* Placez chaque libellé sur une nouvelle ligne */
  margin-top: 10px; /* Ajoutez un espacement en haut de chaque libellé */
}

.popup-content.edit-popup input, 
.popup-content.edit-popup select {
  width: calc(100% - 16px); /* Ajustez la largeur en tenant compte de la marge */
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: inline-block; /* Alignez les champs côte à côte */
}

.popup-content.edit-popup .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.popup-content.edit-popup button {
  background: #ff6f6f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.popup-content.edit-popup button:hover {
  background: #ff4949;
}

.popup-content.edit-popup button:last-child {
  margin-right: 0;
}

.popup-content.edit-popup h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.readonly-input {
  text-align: center;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.center-input {
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: center;
}
