<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon-32x32.png">
    <link rel="stylesheet" href="../assets/css/tab.css">
    <link rel="stylesheet" href="../assets/css/lightbox.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="../assets/css/utility.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <title>phantomEye - cybersecurity consulting company in Austin TX</title>

</head>

<body id="main-page">
    <!-- Navigation and hero image -->
    <header class="hero">
        <div id="navbar">
            <h1 class="logo"><a href="/index.html"><span class="logo-first-letter"><i class="fas fa-user-secret"></i>
                        SIM card </span></a></h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a> </li>
                    <li><a href="#tableau">SIM card</a> </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1 style="color: whitesmoke">Test technique </h1>
            <h2>Vous allez assister à une démonstration d'un test technique.</h2>
        </div>
    </header>
    <main>
        <!-- About section -->
        <section class="icons bg-light" >
            <div class="flex-items-about">
                <div>
                    <i class="fas fa-id-card fa-2x"></i>
                    <div>
                        <h3>Trusted company</h3>
                    </div>
                </div>
                <div>
                    <i class="fas fa-lock fa-2x"></i>
                    <div>
                        <h3>Security standards</h3>
                    </div>
                </div>
                <div>
                    <i class="fas fa-eye fa-2x"></i>
                    <div>
                        <h3>Vulnerability detection</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section - Areas of the company -->
        <section id="about" class="areas flex-columns bg-dark">
            <div class="row">
                <div class="column">
                    <div class="column1">
                        <img src="../assets/img/cybersecurity-experts-in-austin-tx.jpg" alt="our cybersecurity team">
                    </div>
                </div>
                <div class="column">
                    <div class="column2">
                        <h2>Sujet du test technique</h2>
                        <p>Le projet a pour but le développement d'une application de gestion de cartes SIM, avec une interface utilisateur en Angular pour le frontend et 
                            un backend en Java. L'objectif central est de présenter une liste détaillée des cartes SIM.
                            Du côté de l'IHM en Angular, la page d'accueil doit afficher une liste de cartes SIM.
                            Pour ce qui est du backend en Java, il doit fournir les services REST nécessaires à l'IHM, 
                             comprenant des endpoints pour récupérer la liste des cartes SIM 
                             et gérer les données à l'aide d'une base de données,
                              en l'occurrence MySQL fournie par **** .</p>
                        <p> Silence ... La démonstration a commencé.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="tableau" class="tableau flex-columns bg-dark" >
            <div style="display: flex; justify-content: flex-end; margin-right: 580px;">
                <button mat-button
                        style="background-color: #3498db; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px;"
                        (click)="createNewSim()">
                  <i class="fas fa-plus" style="margin-right: 5px;"></i>Ajouter
                </button>
              </div>
              
            <div class="container">
                <h1 style="color:white">Liste des cartes SIM</h1>
                <table mat-table [dataSource]="dataSource">
                
                <!-- Définissez les colonnes du tableau -->
                <ng-container matColumnDef="iccId">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.iccId }}</td>
                </ng-container>
                
                <ng-container matColumnDef="msisdn">
                    <th mat-header-cell *matHeaderCellDef>Numéro</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.msisdn }}</td>
                </ng-container>

                <ng-container matColumnDef="pinCode">
                    <th mat-header-cell *matHeaderCellDef>Code PIN</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.pinCode }}</td>
                </ng-container>

                <ng-container matColumnDef="pukCode">
                    <th mat-header-cell *matHeaderCellDef>Code PUK</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.pukCode }}</td>
                </ng-container>

                <ng-container matColumnDef="tag">
                    <th mat-header-cell *matHeaderCellDef>Tag</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.tag }}</td>
                </ng-container>

                <ng-container matColumnDef="accessPointName">
                    <th mat-header-cell *matHeaderCellDef>Nom du point d'accès</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.accessPointName }}</td>
                </ng-container>

                <ng-container matColumnDef="ipAddress">
                    <th mat-header-cell *matHeaderCellDef>Adresse IP</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.ipAddress }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.status }}</td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef>Date de création</th>
                    <td mat-cell *matCellDef="let sim">{{ sim.creationDate | date:'yyyy-MM-dd' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let sim">
                    <span class="pointer" style="margin-right: 3px;">
                    <i class="far fa-eye" style="font-size:13px" (click)="consulter(sim)"></i>
                    </span>
                    <span class="pointer" style="margin-right: 3px;">
                    <i class="fas fa-pen" style="font-size:13px" (click)="openEditPopup(sim)"  ></i>
                    </span>
                    <span class="pointer" style="margin-right: 3px;" (click)="confirmDelete(sim.iccId)">
                    <i class="fas fa-trash" style="font-size:13px" ></i>
                    </span>
             
                </ng-container>
                
                <!-- Ajoutez plus de colonnes selon vos besoins -->
                
                <!-- Définissez la colonne de pagination -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- Ajoutez le composant de pagination -->
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>       
            </div>
        </section>
        <!-- Our team section -->
        <section class="icons bg-dark" id="about">

            <div class="flex-items-about">
                <div>
                    <img class="our-team-img" src="../assets/img/our-team-hacker.jpg" alt="">
                 
                </div>
                <div>
                    <img class="our-team-img" src="../assets/img/our-team-hacker.jpg" alt="">
                    <div>
                        <h3>Mr. K</h3>
                    </div>
                </div>
                <div>
                    <img class="our-team-img" src="../assets/img/our-team-hacker.jpg" alt="">
                </div>
            </div>
        </section>
    </main>
    <footer class="footer bg-super-dark">
        <div class="social-container"> 
            <a href="https://github.com/KevinP93" target="_blank">
            <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
        <p>Copyright &copy; 2023 - KevinP.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="../js/lightbox.min.js"></script>
</body>

</html>